@charset "UTF-8";

wrapper {
	border:thin dotted sandybrown;
}
topHeader {
	background:black;
	font-size:30px; 
	text-align:center;
}
footer {
	background: navy;text-align:center;
	padding:5px; 
	border-top:thin solid black;
}
main {
	border-left:thin dotted #DBB900;
}
maincontent {
	background:black;
}